.report-form {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4 15px rgba(0, 0, 0, 0.08);
}

.report-form h2 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.form-grid .add-info .full-width {
  grid-column: 1/ -1;
}

label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  display: block;
}

input, select, textarea {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  font-family: inherit;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.back-button {
  background-color: transparent;
  color: #081E3F;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.back-button:hover {
  text-decoration: underline;
}

.submit-button {
  background-color: #081E3F;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  margin: 1.5rem auto 0 auto;
  display: block;
  transition: background-color 0.2s ease-in-out;
  
}

.submit-button:hover {
  background-color: #2a406b;
}